
body
{
color: rgb(83, 83, 87);
font-family: 'Arial';
max-width: 650px;
margin: 0 auto;
padding: 0 16px;
display: flex;
flex-direction: column;
min-height: 100vh;
}
.main-content
{
    flex-grow: 1;
}
footer
{
color: lightslategrey;
border-top: 1px solid maroon;
margin-top: 16px ;
padding:16px 0;
}
header
{
    margin-top: 16px;
    margin-bottom: 48px;
}
h1
{
font-size: 64px;
}
header a
{
color: rgb(235, 19, 19);
margin-right: 16px;
text-decoration: none;
}
.myimage
{
    width: 250px;
}
input{
    border:1px solid aqua;

}
button{
    cursor: pointer;
    background-color: cadetblue;
    color: cornsilk;
}